    .outline {
      width: 580px;
      height: 580px;    
      border: 1px solid white;
      padding: 10px;
    }
    .outline > div {
      display: inline-block;    
      width: 180px;
      height: 180px;
      margin: 5px;
      background-color: lightgray;
    }
    div.orange {
      background-color: orange;
      position: static;
  
    }
    .red {
      width: 50px;
      height: 50px;
      background-color: red;
      position: static;
      /* position: sticky; top: 50px; left: 50pt; */
    }  