html {
    font-size: 15px;
}

div {
    font-size: 1.4em;
}

/* 
    div 태그를 기준으로 1.4em을 달아놨으면 부모 요소의 영향을 받는 단위라고 했습니다. 즉 가장 상위의 div의 경우에는 부모 요소가 없기 때무넹 기존 html 태그 선택자의 폰트 크기인 15px이 그대로 적용되고, 하위의 div들이 전부 부모의 영향을 받아 중간 div의 경우 15px*1.4가 적용됩니다.
*/

div div {
    font-size: 2rem;
}

/* 
    이상의 코드를 확인했을 때 div 요소의 자손 요소인 div들은 html 문서의 폰트 사이즈인 15px의 140%의 2배가 일괄 적용되었다고 볼 수 있습니다. rem 단위는 가장 상위 부모 요소를 기준으로 하는데, 여기서는 조건이 더 구체적인 div div가 적용되었습니다.
*/