html {
  font-size: 12px;
}

p{
  text-align: justify;
  /* 
  text-align: left;
  text-align: right;
  text-align: center;
   */

   line-height: 2em;
   letter-spacing: 7px;
   word-spacing: 1.5em;
   /* 
      line / letter / word의 경우 px / em / rem 단위 전부 가능합니다.
   */
   text-indent: 1.5em;
   /* 
    p 태그를 기준으로 원래 문단을 잡기 때문에, 문단을 시작할 때의 들여쓰기를 지정합니다.
   */
   text-indent: -1.5em;
   /* 
    추후 배우게 되는 margin 혹은 padding 개념과 합치게 되면 문단 시작만 툭 튀어나오게끔 작성할 수도 있습니다.
   */
}