/* body {
  text-align:center;
} */

div {
  display: inline-block;
  /* inline-block으로 display를 설정하게 되는 경우 width / height의 지정은 가능하나 margin에서 auto가 먹지 않습니다. 가로 세로 지정은 block의 성격이지만 margin auto가 안먹히는 것은 inline 부분의 성격이라고 할 수 있겠습니다. */
  background-color: orangered;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-top: 2px solid black;
  border-bottom: 0.5em dashed #ccc;
  border-right: 1.5vw dotted #5f5f5f;
  border-left: 0.5vh solid palegoldenrod;
}
/* 
  왜 이상과 같이 했을 경우에만 작동되냐면 인락은 블록 요소가 지금 박스 모습으로 보이기는 하지만 기본적으로 **텍스트의 흐름**을 따라가기 때문에 부모 요소에서 text-align 속성을 지정해줘야 block 요소처럼 margin으로 조정이 되지 않기 때문입니다.

  display: block;의 경우에는 너비와 높이를 지정할 수 있지만 기본적으로 전체 row를 다 잡아먹는 구조입니다. 그렇기 때문에 margin을 통해서 통제가 가능하지만 부모 요소에서 'text'로 조절할 수 없습니다.
 */
 p {
  text-align: end;
 }